@page
@model crud.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Enter your name</h2>

<form method="post"  >
       <div asp-validation-summary="All" ></div>
       <div><input asp-for="Customer.Name" /> </div>
        <span asp-validation-for="Customer.Name" class="has-error" ></span>
        <input type="submit" class="btn btn-default" />
</form>

